* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

.custom-container {
  width: 100%;
  padding: 10rem 100px;
}

.swiper-button-next {
  background-image: url(./images/arrow-next.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 40px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(./images/arrow-prev.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 40px !important;
}

.swiper-button-prev::after {
  display: none;
}

/* MEDIA QUERY */
@media screen and (max-width: 1440px) {
  .custom-container {
    padding: 10rem 100px;
  }
}

@media screen and (max-width: 700px) {
  .custom-container {
    padding: 10rem 50px;
  }
}

@media screen and (max-width: 420px) {
  .custom-container {
    padding: 8rem 20px;
  }
}

.divider {
  height: 1px;
  width: 100%;
  background: #ccc;
}

.button {
  width: 200px;
  padding: 15px;
  border: none;
  cursor: pointer;
  transition: 0.5 ease-in-out;
  text-align: center;
}

.primary-btn {
  background: #033b71;
  color: #fff;
}

.primary-btn:hover {
  background: #0268c7;
}

.secondary-btn {
  background: rgb(206, 160, 77);
}

.secondary-btn:hover {
  background: rgb(98, 80, 47);
}

.textfield {
  background: transparent;
  border: none;
  border-radius: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  padding: 10px 0;
}

::placeholder {
  color: #ccc;
}
